# Python virtual environment
.venv/
venv/
back-end/.venv/
# Dependências do Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Nota: Manter package-lock.json é uma boa prática em projetos reais, 
# mas se você quiser ignorá-lo por algum motivo específico, descomente a linha acima.

# Pastas de build ou distribuição (se você usar ferramentas como Vite, Webpack, etc)
dist/
build/
out/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Pastas de IDEs/Editores
.vscode/
.idea/

# Variáveis de ambiente (Segurança!)
.env
venv 

#pdf's
back-end/scripts/pdfs/

#json
back-end\scripts\pdfs

#Pycache
**/__pycache__/

#Arquivo Bruto
*.csv
*.json
!front-end/vercel.json
!front-end/package.json
